canvas {
  width: 1200px;
  height: 800px;
}

body {
  padding: 0px;
}

.canvas-container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.black{
  background: black;
}